*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
}

img{
    max-width: 100%;
    display: block;
}

.app{
    height: 100vh;
    display: flex;

}